/* Définir les animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px); /* Augmente la distance initiale */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Augmente la distance de flottement */
  }
  100% {
    transform: translateY(0);
  }
}

/* Styles pour le conteneur hero-right */
.row {
  padding: 0 4%;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-right {
  position: relative;
  background-size: contain; /* Ajuste l'image pour qu'elle soit entièrement visible */
  background-repeat: no-repeat;
  background-position: center; /* Centre l'image dans le conteneur */
  height: 50vw; /* Hauteur basée sur la largeur du viewport pour maintenir un aspect carré */
  width: 50%; /* La largeur prend 50% de hero-content */
  padding: 4%;
  overflow: hidden; /* Pour éviter que les images ne débordent */
}

/* Styles pour les images supplémentaires */
.hero-image-top-left,
.hero-image-top-right,
.hero-image-bottom-left {
  position: absolute;
  opacity: 0; /* Initialement invisibles */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.hero-image-top-left {
  top: 5%;
  left: 5%;
  width: 25%;
  animation: fadeIn 2s ease-in-out forwards, float 6s ease-in-out infinite; /* Animation de flottement continue avec une durée plus longue */
  animation-delay: 0.5s; /* Délai pour que cette image apparaisse en premier */
}

.hero-image-top-right {
  top: 5%;
  right: 5%;
  width: 32%;
  animation: fadeIn 2s ease-in-out forwards, float 6s ease-in-out infinite; /* Animation de flottement continue avec une durée plus longue */
  animation-delay: 1s; /* Délai pour que cette image apparaisse après la première */
}

.hero-image-bottom-left {
  bottom: 15%;
  left: 10%;
  width: 25%;
  animation: fadeIn 2s ease-in-out forwards, float 6s ease-in-out infinite; /* Animation de flottement continue avec une durée plus longue */
  animation-delay: 1.5s; /* Délai pour que cette image apparaisse en dernier */
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .hero-content {
    gap: 40px;
    padding: 8% 4%;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: flex-end;
  }

  .hero-left, .hero-right {
    width: 100%;
    text-align: center;
  }

  .hero-right {
    width: 80%;
    margin-top: 10%;
  }

  .hero-image-top-left {
    top: 1%;
    left: 5%;
    width: 30%;
    animation-delay: 0.5s;
  }
  
  .hero-image-top-right {
    top: 10%;
    right: 0%;
    width: 42%;
    animation-delay: 1s;
  }
  
  .hero-image-bottom-left {
    bottom: 5%;
    left: 5%;
    width: 30%;
    animation-delay: 1.5s;
  }
}
