.hero-left {
  text-align: left;
}

.hero-right {
  text-align: right;
}

.hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 1.25rem;
}

.hero-paragraph {
  font-family: "Bricolage Grotesque";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

@media (max-width: 992px) {
  .hero-left,
  .hero-right {
    text-align: center;
  }

  .hero-image {
    height: auto;
  }
}
