.services-section {
  padding: 2.5rem 0;
}

.services-container {
  display: flex;
  width: 80rem;
  padding: 2.5rem 0;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.service-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 19.0625rem;
  border-radius: 1.25rem;
  border: 1px solid #000;
  border-bottom: 5px solid #000;
  background: #FFF;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  align-items: stretch; /* Align items to stretch */
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-image {
  width: 100%;
  height: 10.9375rem; /* Ajustez la hauteur pour l'image */
  object-fit: cover;
}

.service-info {
  display: flex;
  flex-direction: column;
  padding: 1.125rem;
  gap: 1.125rem;
  background: #FFF;
}

.service-title {
  color: #312E28;
  font-family: "Bricolage Grotesque";
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.service-description {
  color: #312E28;
  font-family: "Bricolage Grotesque";
  font-size: 1.125rem;
  font-weight: 300;
  margin: 0;
}

.service-link {
  font-family: "Roboto Serif";
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 200;
  text-decoration: none;
  color: #000;
  text-align: center;
  display: none; /* Masquer le bouton par défaut */
  margin-top: auto;
}

.service-card:hover .service-link {
  display: block; /* Afficher le bouton au survol */
}

/* Styles pour mobile */
@media (max-width: 768px) {
  .services-container {
    flex-direction: column;
    gap: 2rem;
  }
}
