.services-section {
  padding: 4% 0%;
  width: 100%;
}

.services-container {
  display: flex;
  width: 100%;
  padding: 2.5rem 0;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.service-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 19.0625rem;
}

.service-image {
  width: 100%;
  height: 10.9375rem; /* Ajustez la hauteur pour l'image */
  object-fit: cover;
}

.service-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;
  background-color: white;
  padding: 2rem;
  border-radius: 1.25rem;
  border: 1px solid #312E28;
  border-bottom: 6px solid #312E28;
  gap: 20px;
  height: 200px;
}

.service-info:hover {
  border-bottom: 1px solid #000;
  height: auto;
}

.service-title {
  color: #312E28;
  font-family: "Bricolage Grotesque";
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
}

.service-description {
  color: #312E28;
  font-family: "Bricolage Grotesque";
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.service-link {
  font-family: "Roboto Serif";
  font-size: 18px;
  font-style: italic;
  font-weight: 200;
  text-decoration: none;
  color: #000;
  text-align: left;
  display: none; /* Masquer le lien par défaut */
  margin-top: auto;
}

.service-card:hover .service-link {
  display: block; /* Afficher le lien au survol */
}

/* Ne pas afficher le lien sur mobile */
@media (max-width: 768px) {
  .services-container {
    flex-direction: column; /* Afficher les cartes en colonne sur les petits écrans */
    gap: 2rem; /* Espacement réduit entre les cartes */
    width: 100%;
  }

  .service-card {
    max-width: 100%; /* Assurer que les cartes n'excèdent pas la largeur disponible */
  }

  .service-link {
    display: none !important; /* Toujours masquer le lien sur mobile */
  }
}
