.hero-projet-container {
  width: 100%; /* Prend 100% de la largeur de la page */
  margin: 0; /* Supprime la marge par défaut */
  background: #FFF;
  border-radius: 5rem 5rem 0rem 0rem;
  padding: 4%;
  gap:16px;
}

.hero-projet-left {
  text-align: left;
  gap:16px;
}

.hero-projet-tags {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 16px;
}

.hero-projet-description {
  color: #312E28;
  font-family: "Bricolage Grotesque";
  font-size: 16px;
  font-weight: 300;
  margin: 1rem 0;
}

.hero-projet-right {
  text-align: right;
}

.hero-projet-image {
  width: 100%;
  height: auto;
  border-radius: 5rem;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .hero-projet-container {
    text-align: center;
  }

  .hero-projet-left, .hero-projet-right {
    text-align: center;
  }

  .hero-projet-image {
    margin-top: 20px;
    border-radius: 5rem 5rem 0 0;
  }
}
