.hero-projet-container {
  width: 100%; /* Prend 100% de la largeur de la page */
  margin: 0; /* Supprime la marge par défaut */
  background: #FFF;
  border-radius: 5rem 5rem 0rem 0rem;
  padding: 4%;
  gap: 16px;
}

.hero-projet-left {
  text-align: left;
  gap: 16px;
}

.hero-projet-left-image {
  max-width: 100px; /* Ajuste la taille de l'image en haut de la colonne de gauche */
  margin-bottom: 1rem;
}

.hero-projet-description {
  color: #312E28;
  font-family: "Bricolage Grotesque";
  font-size: 16px;
  font-weight: 300;
  margin: 1rem 0;
}

.hero-projet-right {
  text-align: right;
}

.hero-projet-image {
  width: 100%;
  height: auto;
  border-radius: 1.25rem;
}

.hero-projet-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  background-color: #FFF;
  color: #312E28;
  font-family: "Roboto Serif";
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.hero-projet-button:hover {
  background-color: #000;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .hero-projet-container {
    text-align: left;
  }

  .hero-projet-left, .hero-projet-right {
    text-align: center;
  }

  .hero-projet-image {
    margin-top: 20px;
    border-radius: 8px;
  }

  .hero-projet-left-image {
    height: 80px;
    width: auto;
    padding:4%;
  }

  .title-primary{
    font-size: 40px;
  }
  
}
