.section-recherche-ux {
  background-color: white;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-block-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section-block {
  border-radius: 1.25rem;
  padding: 20px;
}

.beige-background {
  background: var(--beige, #F9F6EB);
}

.pink-background {
  background: #F7B4F5;
}

.green-background {
  background: #2C6545;
}

.white-text {
  color: var(--white, #FFF);
  font-family: "Roboto Serif";
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
}

.icon {
  margin-right: 10px;
}

.section-text {
  margin-top: 1rem;
  font-family: "Bricolage Grotesque";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

h3 {
  color: #00381A;
  font-family: "Bricolage Grotesque";
  font-size: 24px;
  font-weight: 400;
  margin-top: 1rem;
}

/* Ajout du padding dans les conteneurs de colonnes */
.row {
  padding: 0 4%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
    padding: 0 2%; /* Réduit le padding pour les petits écrans */
  }

  .section-block-container {
    gap: 20px;
  }
}
