.section-recherche-ux {
  background-color: white;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 4%;
}

.section-block-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-block {
  border-radius: 1.25rem;
  padding: 20px;
  background-color: white;
  height: auto; /* Assure que la hauteur du bloc s'adapte à son contenu */
  display: flex;
  flex-direction: column;
}

.beige-background {
  background: var(--beige, #F9F6EB);
}

.pink-background {
  background: #F7B4F5;
}

.green-background {
  background: #2C6545;
}

.white-text {
  color: var(--white, #FFF);
  font-family: "Roboto Serif";
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
}

.icon {
  margin-right: 10px;
}

.section-text {
  margin-top: 1rem;
  font-family: "Bricolage Grotesque";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

h3 {
  color: #00381A;
  font-family: "Bricolage Grotesque";
  font-size: 24px;
  font-weight: 400;
  margin-top: 1rem;
}

.row-enseignements {
  display: flex;
  gap: 20px;
  padding: 0 4%;
  flex-wrap: nowrap; /* Assure que les colonnes restent côte à côte */
}

.section-footer {
  margin-top: 40px;
  padding: 0 4%;
}

.problematique-metriques {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.green-background .section-text {
  color: var(--white, #FFF);
  font-family: "Roboto Serif";
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .row-enseignements {
    flex-direction: column;
    padding: 0 2%;
  }

  .section-block-container {
    gap: 20px;
  }

  .section-footer {
    padding: 0 2%;
  }
}
