.title-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  
  .title-text {
    display: flex;
    flex-direction: column;
  }
  
  .title-primary {
    color: var(--black, #312E28);
    font-family: "Roboto Serif";
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
  }
  
  .title-secondary {
    font-style: italic;
    font-weight: 300;
  }
  
  .title-description {
    color: var(--black, #312E28);
    font-family: "Bricolage Grotesque";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 10px;
  }
  
  .title-highlight img {
    max-width: 100px; /* Ajuste la taille de l'image si nécessaire */
  }
  
  @media (max-width: 768px) {
    .title-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .title-text {
      align-items: center;
    }
  
    .title-highlight {
      margin-top: 10px;
    }
  
    .title-description {
      display: none; /* Cache la description sur mobile */
    }

    .title-primary {
        font-size: 2.75rem;
      }
  }
  