.title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 4%;
  gap: 20px;
  transform: translateY(0);
  transition: transform 0.025s ease-out; /* Transition douce pour la parallaxe */
}

.title-text {
  display: flex;
  flex-direction: column;
}

.title-primary-small {
  color: var(--black, #312E28);
  font-family: "Roboto Serif", serif;
  font-size: 40px; /* Taille de la police sur desktop */
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.title-secondary-small {
  font-family: "Roboto Serif", serif;
  font-style: italic;
  font-weight: 200;
}

.title-highlight img {
  max-width: 100px; /* Taille de l'image sur desktop */
  transition: transform 0.3s ease; /* Ajout d'une transition pour une rotation fluide */
}

@media (max-width: 768px) {
  .title-container {
    flex-direction: row; /* Alignement en ligne pour mobile */
    align-items: center;
    text-align: center;
    gap: 16px;
    padding:4%;
  }

  .title-text {
    align-items: center;
  }

  .title-primary-small {
    font-size: 30px; /* Taille de la police sur mobile */
  }

  .title-highlight img {
    display:none;
  }
}
