.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent; /* Couleur de fond par défaut */
  position: fixed; /* Fixe la barre de navigation en haut */
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease; /* Transition pour le changement de couleur */
  z-index: 1000; /* Assure que la barre de navigation est au-dessus du contenu */
}

.navbar-scrolled {
  background-color: white; /* Couleur de fond lorsque l'on scrolle */
}

.navbar-logo img {
  height: 45px; /* Ajuste la taille du logo selon tes besoins */
}

.navbar-links {
  display: flex;
  gap: 40px;
}

.navbar-links a {
  text-decoration: none;
  color: #000; /* Couleur des liens */
  font-weight: bold;
}

.navbar-links a:hover {
  color: #F7B4F5; /* Couleur au survol */
}

.navbar-icon {
  height: 24px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: none;
  border: none;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.dropdown-toggle:hover {
  color: #F7B4F5; /* Couleur au survol */
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #F7B4F5; /* Couleur au survol */
  color: white;
}
