.custom-navbar {
  display: flex;
  margin: 2% 4%;
  font-family: "Bricolage Grotesque";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar-logo {
  width: 5rem;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto; /* Ensure the links are aligned to the right */
}

.navbar-linkedin-icon {
  width: 24px;
  height: 24px;
}

.navbar-burger-icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 992px) {
  .navbar-links {
    display: none;
  }

  .navbar .navbar-collapse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
  }

  .navbar .navbar-collapse.show {
    display: flex;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px; /* Reduce gap for mobile view */
  }

  .navbar-linkedin-icon,
  .navbar-burger-icon {
    width: 32px;
    height: 32px;
  }
}
