.custom-navbar {
  display: flex;
  justify-content: space-between; /* Espace entre le logo et les éléments alignés à droite */
  align-items: center;
  margin: 2% 4%;
  font-family: "Bricolage Grotesque";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative; /* Position relative pour le gestion de l'overlay */
}

.navbar-logo {
  width: 5rem;
}

.navbar-burger-icon {
  width: 24px;
  height: 24px;
}

.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  margin:40px;
}

.navbar-overlay.show {
  transform: translateX(0);
}

.navbar-overlay-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-close {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.navbar-close img {
  width: 24px;
  height: 24px;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navbar-linkedin-icon {
  width: 24px;
  height: 24px;
}

/* Responsive Styles */
@media (min-width: 992px) {
  .navbar-overlay {
    display: none;
  }
}