.realisations-container {
    overflow: hidden;
    margin-top: 8%;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

.realisations-slider {
    margin: 4% 0 4% 4%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    max-width: 100%;
}

.realisations-card-wrapper {
    box-sizing: border-box;
    flex: 1 1 450px;
    max-width: 450px;
    cursor: pointer;
}

.realisations-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.125rem;
    background: #FFF;
    border-radius: 0.625rem;
    padding: 1.25rem;
    box-sizing: border-box;
    width: 100%;
    height: 450px;
    transition: border 0.1s ease-in-out;
}

.realisations-card:hover {
    border: 2px solid #000;
}

.realisations-tags {
    display: flex;
    gap: 10px;
}

.realisations-card h3 {
    color: #00381A;
    font-family: "Bricolage Grotesque";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.realisations-image {
    flex-grow: 1;
    width: 100%;
    border-radius: 0.625rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: auto;
}

@media (max-width: 1100px) {
    .realisations-container {
        padding: 0 4%;
    }

    .realisations-slider {
        margin: 4% 0;
        flex-direction: column;
    }

    .realisations-card-wrapper {
        flex: 1 1 100%;
        max-width: calc(100% - 20px); /* Pour s'assurer que les cartes prennent presque toute la largeur */
        margin: 0 auto 18px; /* Centrer les cartes avec une marge auto et un léger espacement en bas */
    }

    .realisations-card {
        margin: 0 10px; /* Ajouter un léger padding autour des cartes */
        width: calc(100% - 20px); /* S'assurer que les cartes ne dépassent pas le conteneur */
    }
}
