.intro {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.intro .row {
  display: flex;
  gap: 40px;
  margin: 2rem;
}

.intro-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.intro-left img {
  width: 90px;
}

.intro-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-family: "Bricolage Grotesque";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.description {
  font-family: "Roboto Serif";
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
}

/* Responsive Styles */
@media (max-width: 980px) {
  .intro {
    flex-direction: column;
    align-items: flex-start;
  }

  .intro .row {
    gap: 20px;
  }
}
