.custom-footer {
  background-color: #2C6545;
  padding: 20px 0;
  color: #FFF;
  font-family: "Bricolage Grotesque";
}

.footer-logo-img {
  width: 4rem;
}

.footer-col {
  margin-top: 40px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #FFF;
  text-decoration: none;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

.contact-button {
  color: var(--white, #FFF);
  font-family: "Bricolage Grotesque";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 767px) {
  .footer-services,
  .footer-pages {
    display: none;
  }

  .footer-links {
    text-align: center;
  }

  .footer-links ul {
    text-align: center;
  }

  .footer-logo {
    text-align: center;
    margin-bottom: 20px;
  }
}
