.section-img-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 4%;
    gap: 40px;
    background-color: white;
  }
  
  .text-content {
    max-width: 50%;
    gap: 20px;
  }
  
  .image-content img {
    max-width: 100%;
    border-radius: 0.625rem;
  }
  
  .section-text {
    margin-top: 1rem;
    font-family: "Bricolage Grotesque";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
  }
  
  h3 {
    color: #00381A;
    font-family: "Bricolage Grotesque";
    font-size: 24px;
    font-weight: 400;
    margin-top: 1rem;
  }

.custom-button {
    font-family: "Bricolage Grotesque", sans-serif !important;
}
  
  
  /* Responsive adjustments */
@media (max-width: 768px) {
  .section-img-right {
    flex-direction: column;
    gap: 20px; /* Réduit l'écart entre les colonnes */
    padding: 2%; /* Réduit le padding pour les petits écrans */
  }

  .text-content {
    max-width: 100%; /* Les colonnes prennent toute la largeur */
  }
  
  .image-content img {
    max-width: 100%;
    border-radius: 0.625rem;
  }
}