.bandeau-container {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  transform: rotate(-2deg);
  background-color: #312E28;
}

.bandeau-content {
  display: flex;
  white-space: nowrap;
  animation: defilement 250s linear infinite; /* Adjust duration for speed */
}

.bandeau-text {
  color: white;
  font-family: 'Roboto Serif', serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
  margin-right: 3.125rem; /* Espace entre les mots */
}

@keyframes defilement {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%); /* Adjust to half the width of the duplicated content */
  }
}
