.expertises-container {
  margin: 2rem 0;
}

.expertise-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 38.75rem;
  padding: 10rem 2.5rem 2.5rem 2.5rem;
  background: white;
  margin-bottom: 2rem;
  border-radius: 1.25rem;
}

.expertise-item img {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.expertise-title {
  color: var(--black, #312E28);
  text-align: center;
  font-family: "Bricolage Grotesque";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4rem; /* To account for the image overlap */
}

.expertise-text {
  color: var(--black, #312E28);
  text-align: center;
  font-family: "Bricolage Grotesque";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .expertises-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .expertise-item {
    max-width: 100%;
  }
}
