.expertises-container {
  margin: 2rem 4%;
  gap: 2rem;
  opacity: 0;
  transform: translateY(40px); /* Décalage vers le bas */
  animation: fadeInSlideUp 1s ease-out forwards;
  animation-delay: 0.5s; /* Retard général */
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.expertise-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  max-width: 38.75rem;
  padding: 10rem 2.5rem 2.5rem;
  background: white;
  margin: 2rem 0;
  border-radius: 1.25rem;
  opacity: 0;
  animation: fadeInSlideUp 1s ease-out forwards;
  animation-delay: calc(var(--i) * 0.5s); /* Retard progressif pour chaque item */
}

@keyframes float {
  50% { transform: translateY(-5px); }
}

.expertise-item img {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.expertise-title {
  color: var(--black, #312E28);
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 24px;
  margin-top: 4rem;
}

.expertise-text {
  color: var(--black, #312E28);
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .expertises-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .expertise-item {
    max-width: 100%;
  }
}
